{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
      {% if request.user.is_authenticated %}

          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create a Short Link</h3>
            </div>
             <div class="panel-body">
              <form class="" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-default" type="submit" name="" value="Submit">
              </form>
            </div>
        </div>
      </div>

      <div class="col-md-6">
        <h1>Your Bookmarks</h1>
          {% for bookmark in bookmark_list %}
            {% if bookmark.user == user %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Short Link:</b>
                <a href="{% url 'short_view' bookmark.short_url %}">localhost:8000/{{ bookmark.short_url }}</a>
              </div>
              <div class="panel-body">
                <b>Title: </b> {{ bookmark }}
                <br>
                <b>Description: </b> {{ bookmark.description }}
              </div>
              <div class="panel-footer">
                <b>By:</b> {{ bookmark.user }} |
                {% if bookmark.user.id == user.id %}
                  <a href="{% url 'bookmark_update_view' bookmark.id %}">Edit</a>
                  {% else %}
                    Public Link
                {% endif %}
                <div class="pull-right">
                  <b class=>Link Visits:</b>
                  <span class="badge">{{ bookmark.click_count }}</span>
                </div>

              </div>
            </div>
            {% endif %}
          {% endfor %}
          {% else %}
              <h1>Create a user. Then log in to continue.</h1>
              <h1>Or you can use a public bookmark.</h1>

      {% endif %}
    </div>
    </div>
  </div>

  <div class="col-md-4">
    <h1>All Public Bookmarks</h1>
      {% for bookmark in bookmark_list %}
        {% if bookmark.private == False %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Short Link:</b>
            <a href="{% url 'short_view' bookmark.short_url %}">localhost:8000/{{ bookmark.short_url }}</a>
          </div>
          <div class="panel-body">
            <b>Title: </b> {{ bookmark }}
            <br>
            <b>Description: </b> {{ bookmark.description }}
          </div>
          <div class="panel-footer">
            <b>By:</b> {{ bookmark.user }}
            <div class="pull-right">
              <b class=>Link Visits:</b>
              <span class="badge">{{ bookmark.click_count }}</span>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}
