{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shawten' ur URL</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
        <style media="screen">
            body {
                background-color: lightgreen;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="nav navbar-nav">
                    <h3 class="navbar-text">Earl's Short URLs</h3>
                    <li><a href="{% url 'user_create_view' %}">Create a New Login</a></li>
                      {% if not request.user.is_authenticated %}
                          <li><a href="{% url 'login' %}">Login</a></li>
                          {% else %}
                          <li><a href="{% url 'logout' %}?next={% url 'bookmark_create_view' %}">Logout</a></li>
                          <p class="navbar-text">You are logged in as <b>{{ user }}</b></p>
                      {% endif %}
                </div>
            </div>
        </nav>

        <div class="container">

            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>
